
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
img{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 16px;
}

ClipLoader{
    text-align: center;
}

@media(max-width: 600px){
    .App{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img{
        width: 300px;
    }
}